<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predicción de Radiografías</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Predicción de Radiografías</h1>
    <form id="upload-form">
        <input type="file" id="file-input" name="file" accept="image/*" required>
        <div class="preview">
            <p>Vista previa de la imagen:</p>
            <img id="preview-img" src="#" alt="Imagen seleccionada">
        </div>
        <button type="button" id="submit-button">Enviar</button>
    </form>
    <div class="result" id="result"></div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
